/* all */
*{
    padding: 0;
    margin: 0;
    /*怪异盒子模型*/
    box-sizing: border-box;
}

h1{margin-bottom: 24px;
font-size: 36px;
}

header{
    height: 60px;
}

.safe{
    width: 1200px;
    margin: 0 auto;
}

/*消除浮动*/
.safe::after{
    content: '';
    display: block;
    clear: both;
}

.headerTxt{
    text-align: right;
    font-size: 14px;
    color: #666666;
    line-height: 58px;
}

.headerTxt>*{vertical-align: middle;}

.icon-dianhua{
    font-size: 20px;
    margin-right: 10px;
}
.mr18{
    margin-right: 18px;
}

/*楼层*/
#floor-1{
    height: 940px;
    background-image: url(../img/wyy.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    text-align: center;
}
#fimq1{
    padding-top: 140px;
}
.ffont1{
    font-size: 28px;
    color:#43698f;
    padding: 26px 0 90px;
}
.fbtnG{
    font-size: 0;
}
.fbtnG>button{
    width:280px;
    height: 60px;
    background-color: white;
    border:none;
    border-radius: 10px;
    font-size: 22px;
    color: #24a9f1;
    outline: none;
}
.ffont2{
    padding-top: 50px ;
    margin-bottom: 15px;
    font-size: 22px;
    color: white;
}

.fbtnG>button:first-child{
    margin-right: 22px;
}

/*鼠标经过的效果*/
.fbtnG>button:hover{
    background-color: #de91f1;
}

/*鼠标点击下去的效果*/
.fbtnG>button:active{
    background-color: #f16965;
}

.fbtnG>button:first-child{
    margin-right: 22px;
}

.fbtnG i{
    font-size: 32px;
    vertical-align: -2px;
}

.fbtnG2{
    padding: 52px 0 14px;
    color: white;
    font-size: 20px;
    letter-spacing: 12px;
}
.wbcode>img{
    width: 200px;
}

/*楼层二*/
#floor-2{
    height: 1000px;
    background-color: #4eb55f;
}

.f-left{
    float: right;
}

.f-right{
    float: left;
}

.font{
    color: white;
    text-align: right;
    padding-top: 412px;
}

.f2Img{ margin-top: 148px }
.font>h1{font-size: 36px;}
.font>p{font-size: 18px}

/*楼层二结束*/

/*楼层三*/
#floor-3{
    height: 1000px;
    background-color: #eb9c36;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

.font2{
    color: white;
    text-align: left;
    padding-top: 450px;
}

.f2Img{ margin-top: 207px }
.font>h1{font-size: 36px;}
.font2>p{font-size: 18px}

/*楼层三结束*/

/*楼层四开始*/

#floor-4{
    height: 1000px;
    background-color: #ed683f;
}

.f-left{
    float: right;
}

.f-right{
    float: left;
}

.font3{
    color: white;
    text-align: right;
    padding-top: 445px;
}

.f2Img{ margin-top: 188px }
.font>h1{font-size: 36px;}
.font3>p{font-size: 18px}

/*楼层四结束*/

/*楼层五开始*/

#floor-5{
    height: 1000px;
    background-color: #4c9bd7;
}

.f-left{
    float:left;
}

.f-right{
    float:right;
}

.font4{
    color: white;
    text-align: left;
    padding-top: 430px;
}

.f2Img{ margin-top: 245px }
.font>h1{font-size: 36px;}
.font4>p{font-size: 18px}

/*楼层五结束*/

/*楼层六开始*/

.safe::after{
    content: '';
    display: block;
    clear: both;
}

#floor-6{
    height: 1000px;
    background-color: #356b95;
}

.f4Img{
    margin-top: 316px;
}

.f4font{
    color: white;
    margin-top: 405px;
}

.f4Font h1{  font-size: 28px;margin-bottom: 24px;  }
.disInline{display: inline-block;}
.f4Info{width:492px;}
.f4Info>div:first-child{vertical-align: top}

/*楼层六结束*/

/*楼层七开始*/

#floor-7{
    height:80px;
    background-color: #295373;
}
.ffont9{
    padding:30px 687px 30px 687px ;
    font-size: 12px;
    color: #999999;
}
/*楼层七结束*/
/*浮层*/
#fixed{
    height:150px;
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 20px;
}

#fimq10>img{
    height: 110px;
    vertical-align: middle;
}

.fbtnG4>button:active{
    background-color: #f16965;
}

.fbtnG4>button:first-child{
    margin-right: 22px;
}

.fbtnG4 i{
    font-size: 32px;
    vertical-align: -2px;
}

.fbtnG4>button{
    width:220px;
    height: 50px;
    background-color: white;
    border:none;
    border-radius: 10px;
    font-size: 22px;
    color: #24a9f1;
    outline: none;

}
.f-left2{
    height: 110px;
    width: 110px;
    vertical-align: middle;
}


.f6Font{
    color: white;
    font-size: 18px;
}
.f6Font{
    vertical-align: middle;
}



























